{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Buzón de mensajes</h1>
    <table class="table">
      <thead>
        <tr>
          <th>De</th>
          <th>Fecha de envío</th>
          <th>Contenido</th>
          <th>Archivo adjunto</th>
        </tr>
      </thead>
      <tbody>
        {% for mensaje in mensajes_recibidos %}
          <tr>
            <td>{{ mensaje.emisor }}</td>
            <td>{{ mensaje.fecha_envio }}</td>
            <td>{{ mensaje.contenido }}</td>
            <td>
              {% if mensaje.archivo_adjunto %}
                <a href="{{ mensaje.archivo_adjunto.url }}">{{ mensaje.archivo_adjunto.name }}</a>
              {% else %}
                No hay archivo adjunto
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No tienes mensajes recibidos.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
