{% extends "base.html" %}

{% block content %}
  {% load static %}
  <h1>Mostrar Cronograma</h1>

  <form method="post">
    {% csrf_token %}
    <label for="profesor_id">Seleccione un profesor:</label>
    <select name="profesor_id" id="profesor_id">
      {% for profesor in profesores %}
        <option value="{{ profesor.id }}">{{ profesor.first_name }} {{ profesor.last_name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Mostrar cronograma">
  </form>

 
    {% if programaciones %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
          
          
          
        </tr>
        {% for programacion in programaciones %}
          <tr>
            {% for programa in programas %}
            <th>PRGRAMA </th>
            <td> {{ programa.nombre }}</td>
            {% endfor %}
            <th>JORNADA</th>
            <td>{{ programacion.programa_jornada }}</td>
            
            <th>GRUPO</th>
            <td>{{ programacion.codigo_grupo }}</td>
            
          
          <tr>
            <th>COD ASIGNATURA</th>
            <td>{{ programacion.codigo_asignatura }}</td>
            {% for asignatura in asignaturas %}
            <th>ASIGNATURA:</th> 
            <td> {{ asignatura.nombre }}</td>
            <th>CREDITOS:</th> 
            <td> {{ asignatura.creditos }}</tr>
            {% endfor %}
          </tr>
          <tr>
            <th>DOCENTE:</th>
            <td>{{ profesor_seleccionado.first_name }} {{ profesor_seleccionado.last_name }}</td>
            <th>E-MAIL:</th>
            <td>{{ profesor_seleccionado.email }}</td>
            <td colspan="2"></td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No hay programaciones disponibles para este profesor.</p>
    {% endif %}
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>SEMANA</th>
                      <th>FECHA</th>
                      <th>CONTENIDO TEMÁTICO</th>
                      <th>MATERIAL DE APOYO</th>
                      <th>OBSERVACIONES</th>
                      <th>CHEQUEO</th>
        
                    </tr>
                  </thead>
                  <tbody>
                  
                    {% for semana in semanas %}
                    
                    <tr>
                
                      <td>SEM {{semana}}</td>
                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <input type="date" name="fecha_semana{{ forloop.counter }}" value="{{ semana }}">
                        </form>
                      </td>
                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <textarea name="contenido_semana{{ forloop.counter }}" rows="3" cols="20"></textarea>
                        </form>
                      </td>
                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <textarea name="material_semana{{ forloop.counter }}" rows="3" cols="20"></textarea>
                        </form>
                      </td>
                      <td>
                        <form method="post">
                          {% csrf_token %}
                          <textarea name="observaciones{{ forloop.counter }}" rows="3" cols="20"></textarea>
                        </form>
                      </td>
                      <td>
                        <form method="post">
                            {% csrf_token %}
                            <select name="cumplimiento{{ forloop.counter }}">
                                <option value="1">Cumplió</option>
                                <option value="0">No cumplió</option>
                            </select>
                        </form>
                      </td>
                    </tr>
                  
                    {% endfor %}
                    

                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
